body{
   background-color: #d0b799;
   color: white;
   font-family: sans-serif;
}
h1{
   
   font-family: 'MuseoModerno', cursive;
   font-weight: 500;
   font-size: 30px;
   
}
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'MuseoModerno', cursive;
}
.background-img {
   
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

}
